name: "test"
on:
  workflow_dispatch:
  schedule:
    # Every 30 minute
    - cron: '*/5 * * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        path: "./"

    - name: Download possible cache file
      uses: actions/download-artifact@v3
      continue-on-error: true
      with:
        name: 'sharelatex/sharelatex_latest'

    - name: Check DockerHub image with latest tag
      id: dockerhub_latest
      uses: ./
      with: 
        image: 'sharelatex/sharelatex'
        tag: 'latest'

    - name: Show results
      run: |
        echo ${{ steps.dockerhub_latest.outputs.has_update }}
        echo ${{ steps.dockerhub_latest.outputs.update_time }}

    - name: Upload cache file
      uses: actions/upload-artifact@v3
      with:
        name: 'sharelatex/sharelatex_latest'
        path: 'sharelatex#sharelatex_latest.json'
        retention-days: 1